.first { text-decoration: underline;
   text-shadow: 4px 2px 6px grey}
body {background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS-xbT1ePiTIeeFmUnU3O33TZga1c5WqibPqwbf7ioKTzLEVM6r);
  background-repeat:  no-repeat;
  background-size:  cover;}
.second {text-decoration: underline;
   font-style: oblique;}
.t1 {resize: both;
     white-space: nowrap;}
     #1{
       color: magenta
     }
