
body{background-image: url(https://images.pexels.com/photos/259915/pexels-photo-259915.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
   background-blend-mode: darken;
   background-size: contain;}

h1.first { text-decoration: underline;
   text-shadow: 4px 2px 6px grey}

div.second {text-decoration: underline;
   font-style: oblique;}

table.t1 {resize: both;
     white-space: nowrap;}

     p{
       text-decoration-color: blue;
     }
