head {
  padding: 30px;
  color: red;
}
body{
  background-image: url(https://www.wallpaperup.com/uploads/wallpapers/2016/10/28/1029377/a12666eea6b9c6d9f0d12a84362ac633-700.jpg);
  background-size: auto;
}
p{
  color: black;

}
